<svg
  id="svg-canvas"
  (mouseup)="mouseup($event)"
  (mousedown)="svgMouseDown($event)"
  (mouseup)="svgMouseUp($event)"
  (dblclick)="canvasDblClick($event)"
  #svg
>
  <g *ngFor="let circle of circles">
    <g *ngIf="circle.line" svg-line [line]="circle.line"></g>
    <g *ngFor="let line of circle.linesFrom">
      <g svg-line [line]="line"></g>
    </g>
    <g svg-circle [circle]="circle" (mousedown)="mousedown($event)"></g>
    <g
      *ngIf="circle.handler"
      svg-circle
      [circle]="circle.handler"
      (mousedown)="circle.handlerMouseDown($event)"
      (mouseup)="circle.handlerMouseUp($event)"
    ></g>
  </g>
</svg>
